* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #444;
    text-align: center;
}

main {
    background-color: #fff;
    width: 800px;
    height: max(100vh, 800px);
    padding: 20px;
    margin: 0 auto;
}

/* Game Board */
.game-board {
    background-color: #444;
    width: 500px;
    height: 500px;
    margin: 20px auto;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 5px;
}

.board-square {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border: 0;
}

div[data-current-player="x"] button:not(.x-inside, .o-inside):hover {
    background-color: #f88;
}

div[data-current-player="o"] button:not(.x-inside, .o-inside):hover {
    background-color: #88f;
}

.board-square > img {
    width: 75%;
    height: 75%;
    display: none;
}

.x-inside > .x, .o-inside > .o {
    display: block;
}

/* Player name form & status box */
.status-box {
    margin: 20px;
    padding: 20px;
    background-color: #eee;
}

.status-box > p {
    margin-bottom: 10px;
}

.player-info {
    margin: 10px 20px;
    border: 1px solid #eee;
    padding: 10px 0px;
}

label {
    display: block;
    margin: 0px 0px;
}

.check-label {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    height: 2em;
    padding: 0px 2px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

.redtext {
    color: red;
}

.bluetext {
    color: blue;
}

.form-button {
    height: 2em;
    border: 1px solid black;
    padding: 0px 10px;
    border-radius: 0.5em;
}

.form-button:hover {
    outline: 2px solid black;
    font-weight: bold;
}

.hidden {
    display: none;
}
