* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #444;
    text-align: center;
}

main {
    background-color: #fff;
    width: 800px;
    height: max(100vh, 800px);
    padding: 20px;
    margin: 0 auto;
}

.game-board {
    background-color: #444;
    width: 600px;
    height: 600px;
    margin: 20px auto;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 5px;
}

.board-square {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border: 0;
}

div[data-current-player="x"] button:not(.x-inside, .o-inside):hover {
    background-color: #f88;
}

div[data-current-player="o"] button:not(.x-inside, .o-inside):hover {
    background-color: #88f;
}

.board-square > img {
    width: 75%;
    height: 75%;
    display: none;
}

.x-inside > .x, .o-inside > .o {
    display: block;
}
